<div class="adomin_index content">
  <h1>Admin専用ページ</h1>
  <h3>ユーザー一覧</h3>
  <%= link_to "ユーザー一覧", users_path, class: "link_button" %>
  <h3>フレーバー一覧</h3>
  <%= link_to "フレーバー一覧", flavors_path, class: "link_button" %>
  <h3>メーカー一覧</h3>
  <%= link_to "メーカー一覧", makers_path, class: "link_button" %>
</div>
