<div class="gummy_show">
  <%= render "shared/gummy_header", gummy: @gummy %>
  <div>
    <% @reviews.each_with_index do |review, i| %>
      <p id="gummy-show-review-<%= i %>">
        <%= review.comment %>
      </p>
    <% end %>
  </div>
</div>
