<div class="user_index">
  <h3>ユーザー一覧</h3>
  <ul>
    <% @users.each_with_index do |user, i| %>
      <li>
        <span>ユーザーid：<%= user.id %></span>
        <span>ユーザー名：<%= user.name %></span>
        <span>
          <% if user.admin %>
            <span>(admin)</span>
          <% end %>
        </span>
      </li>
    <% end %>
  </ul>
</div>
