<div class="gummy_show_header">
  <div>
    <h3 id="show-gummy-name"><%= gummy.name %>(<%= Flavor.find_by(id: gummy.flavor_id_1).name %>)</h3>
    <div class="gummy_show_header_content">
      <div class="gummy_show_image">
        <%= image_tag "#{gummy.image}" %>
      </div>
      <div>
        <h3>レビューを投稿する</h3>
        <%= link_to "レビュー投稿", new_review_path(gummy: gummy.id) %>
        <h3>目撃情報を共有する</h3>
      </div>
    </div>
  </div>
  <div>
    <p>レビュー</p>
    <p>目撃情報</p>
  </div>
</div>
