<h1>グミサーチへようこそ</h1>
<%= link_to "グミサーチとは？", about_path %>
<h3>グミを登録する</h3>
<%= link_to "グミを登録", new_gummy_path %>
<h3>グミ一覧</h3>
<%= link_to "グミを探す", gummies_path %>
<h3>グミを検索</h3>
<%= render "/shared/search_box" %>
