/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
  height: 100%;
  width: 100%;
}

body{
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  margin: 0 auto;
  height: 75%;
  width: 100%;
}

@media screen and(min-width: 481px){
  .sp{
    display: none;
  }
}

@media screen and(max-width: 480px){
  .sp{
    display: initial;
  }
}

@media screen and(min-width: 601px){
  .width_600{
    display: none;
  }
}

@media screen and(max-width: 600px){
  .width_600{
    display: initial;
  }
}

@media screen and(min-width: 701px){
  .width_700{
    display: none;
  }
}

@media screen and(max-width: 700px){
  .width_700{
    display: initial;
  }
}

@media screen and(min-width: 751px){
  .width_750{
    display: none;
  }
}

@media screen and(max-width: 750px){
  .width_750{
    display: initial;
  }
}

header{
  background-color: blueviolet;
  color: white;
}

@media screen and(max-width: 480px){
  header{
    width: 100%;
  }
}

.header{
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

@media screen and(max-width: 1200px){
  .header{
    width: 90%;
  }
}

@media screen and(max-width: 480px){
  .header{
    width: 95%;
    margin: 0;
    padding: 10px 0;
  }
}

.header a{
  margin: auto 0;
  text-decoration: none;
  color: white;
}

@media screen and(max-width: 480px){
  .header a{
    margin-left: 20px;
  }
}

.app_name{
  font-size: 22px;
  padding-right: 10px;
}

.header ul{
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: space around;
  align-items: center;
}

.header li{
  margin-left: 10px;
}

.image_div{
  width: 50px;
  height: 50px;
}

.image_div img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media screen and(max-width: 480px){
  .header_link_menu{
    display: none;
  }
}

.body_content{
  min-height: 100%;
  background-image: url(/assets/bears.jpg);
  background-color: #fcf9d1;
  padding-top: 70px;
  padding-bottom: 40px;
}

.content{
  max-width: 1140px;
  margin: 0 auto;
}

footer{
  background-color: blueviolet;
}

.footer{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

@media screen and(max-width: 1200px){
  .footer{
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and(max-width: 480px){
  .footer{
    padding: 10px 0;
  }
}

.footer p{
  margin: 0;
  color: white;
}

.link_button{
  text-decoration: none;
  color: white;
  background-color: blueviolet;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 1.5px 2px 2px rgb(51, 7, 94);
}

.link_button:hover{
  color: rgb(231, 201, 26);
  transition: color 0.5s;
}

.submit_button{
  color: white;
  background-color: blueviolet;
  border-radius: 5px;
  border: none;
  box-shadow: 1.5px 1px 2px rgb(51, 7, 94);
}

.submit_button:hover{
  color: rgb(231, 201, 26);
  cursor: pointer;
  transition: color 0.5s;
}

.select_box:hover{
  cursor: pointer;
}

.header_link:hover{
  color: rgb(231, 201, 26);
  transition: color 0.5s;
}

.flash_div{
  background-color: #6ed2e2;
  color: white;
}

.flash_div p{
  margin: 0;
  padding: 20px 0;
  font-size: 17px;
  font-weight: bold;
}

@media screen and(max-width: 1200px){
  .flash_div p{
    padding-left: 20px;
    width: 90%;
  }
}

.flash_message_div{
  width: 1140px;
  margin: 0 auto;
}

@media screen and(max-width: 1200px){
  .flash_message_div{
    width: 100%;
  }
}

.error_message{
  width: 500px;
  margin: 0 auto 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f3b3b3f5;
  color: black;
  border-radius: 10px;
  border: rgb(245, 31, 24) solid 3px;
}

@media screen and(max-width: 550px){
  .error_message{
    width: 90%;
  }
}

.error_message ul{
  margin-left: 30px;
}
