// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ============new============
.review_new{
  width: 600px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-left: 50px;
  background-color: #f8f7efe7;
  color: black;
  border-radius: 10px;
  border: blueviolet solid 3px;

  .review_new_gummy_name{
    margin-bottom: 40px;
  }

  .review_new_form{
    div{
      margin-bottom: 30px;

      .review_new_comment_label{
        margin-bottom: 20px;
      }

      textarea{
        width: 300px;
        height: 150px;
      }
    }
  }
}

@media screen and(max-width: 700px){
  .review_new{
    width: 80%;
  }
}

@media screen and(max-width: 480px){
  .review_new{
    .review_new_form{
      #review-new-comment-form{
        width: 80%;
      }
    }
  }
}

// ============edit============
.review_edit{
  width: 600px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-left: 50px;
  background-color: #f8f7efe7;
  color: black;
  border-radius: 10px;
  border: blueviolet solid 3px;

  .review_edit_comment_label{
    margin-bottom: 20px;
  }

  textarea{
    width: 300px;
    height: 150px;
  }
}

@media screen and(max-width: 700px){
  .review_edit{
    width: 80%;
  }
}

@media screen and(max-width: 480px){
  .review_edit{
    #review-edit-comment-form{
      width: 80%;
    }
  }
}
