// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ============new============
.session_login{
  margin: 0 auto;
  padding-bottom: 40px;
  padding-left: 50px;
  background-color: #f8f7efe7;
  color: black;
  border-radius: 10px;
  border: blueviolet solid 3px;

  h3{
    margin-top: 50px;
  }

  h5{
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: blueviolet 2px solid;
  }

  .login_error_message{
    color: red;
    margin-bottom: 10px;
  }

  .login_form{
    div{
      margin-bottom: 20px;
    }

    .submit_button{
      padding: 4px 10px;
    }
  }
}

@media screen and(max-width: 1200px){
  .session_login{
    width: 90%;
  }
}

@media screen and(max-width: 600px){
  .session_login{
    width: 80%;
  }
}

@media screen and(max-width: 480px){
  .session_login{
    padding: 0 20px 40px;
  }
}
