// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// ============index============
.user_index{
  width: 600px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-left: 50px;
  background-color: #f8f7efe7;
  color: black;
  border-radius: 10px;
  border: blueviolet solid 3px;
}

@media screen and(max-width: 700px){
  .user_index{
    width: 80%;
    padding-left: 20px;

    li{
      margin-top: 15px;
    }
  }
}

// ============new============
.user_sign_up{
  width: 600px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-left: 50px;
  background-color: #f8f7efe7;
  color: black;
  border-radius: 10px;
  border: blueviolet solid 3px;

  div{
    margin-bottom: 20px;
  }

  h3{
    margin-top: 30px;
  }
}

@media screen and(max-width: 700px){
  .user_sign_up{
    width: 80%;
  }
}

@media screen and(max-width: 480px){
  .user_sign_up{
    padding-left: 20px;
  }
}

// ============show============
.user_show{
  width: 600px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f8f7efe7;
  color: black;
  border-radius: 10px;
  border: blueviolet solid 3px;

  .user_info{
    padding-left: 30px;
    border-bottom: blueviolet 2px solid;
  }

  .show_image_div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: blueviolet solid 2px;
  }

  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  h3{
    margin-top: 30px;
  }
}

@media screen and(max-width: 750px){
  .user_show{
    width: 75%;
  }
}

@media screen and(max-width: 480px){
  .user_show{
    padding-left: 20px;
    padding-right: 20px;

    .user_info{
      padding-left: 0;

      p{
        margin-top: 25px;
      }

      .show_image_div{
        margin: 0 auto;
      }
    }
  }
}

// ============edit============
.user_edit{
  width: 600px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f8f7efe7;
  color: black;
  border-radius: 10px;
  border: blueviolet solid 3px;

  h3{
    margin-top: 30px;
  }

  .user_edit_form{
    margin-bottom: 15px;
  }

  .acbox{
    width: auto;
    font-size:0px; /* ラベルと開く部分を分離する時は数値を入れる */
    margin:15px 10px; /* ボックス全体の位置調整 */
  }

  .aclabel{
    width: auto;
    font-size: 16px; /* ラベルの文字サイズ */
    font-weight: bold;
    text-align: center;
    background: #8BC34A; /* ラベルの背景色 */
    position: relative;
    display: block;
    padding:8px;
    border-radius: 4px; /* ラベルの角の丸み */
    cursor: pointer;
    color: #fff;
  }

  .aclabel:hover{
    background: #8BC34A; /* ラベルにマウスを乗せた時の背景色 */
  }

  .acinput{
    display: none;
  }

  .aclabel:after{
    color: #fff;
    content:"▼"; /* ラベルのアイコン */
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -14px;
  }

  .acinput:checked ~ .aclabel::after {
    content:"▲"; /* ラベルをクリックした後のアイコン */
  }

  .acbox-under{
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: 0.15s; /* 開閉スピードの設定 */
  }

  .acinput:checked ~ div{
    height: auto;
    padding: 18px; /* 開いた部分の枠内の余白 */
    border-radius: 0px;
    background: #F3F4F5; /* 開いた部分の背景色 */
    opacity: 1;
  }

  .acinput:checked ~ .aclabel {
    background: #8BC34A; /* クリック後のラベルの背景色 */
  }

  .acbox-under{
    font-size: 15px; /* 開いた部分の文字サイズ */
    color: #555555; /* 開いた部分の文字色 */
  }
}

@media screen and(max-width: 750px){
  .user_edit{
    width: 75%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and(max-width: 480px){
  .user_edit{
    padding-left: 20px;
    padding-right: 20px;
  }
}


// ============review============
.user_review{

  h3{
    width: 600px;
    margin: 50px auto;
    padding: 10px;
    background-color: #f8f7efe7;
    color: black;
    border-radius: 10px;
    border: blueviolet solid 3px;
    text-align: center;
  }

  .user_review_content{
    display: flex;
    flex-wrap: wrap;

    .user_review_not_posted{
      width: 600px;
      margin: 50px auto;
      padding: 10px;
      background-color: #f8f7efe7;
      color: black;
      border-radius: 10px;
      border: blueviolet solid 3px;
      text-align: center;
    }

    .user_review_box{
      width: 300px;
      margin: 20px auto;
      padding: 10px;
      background-color: #f8f7efe7;
      color: black;
      border-radius: 10px;
      border: blueviolet solid 3px;
      height: 100%;

      .user_review_gummy_link{
        text-decoration: none;
        color: black;
      }

      .user_review_gummy_info{
        padding: 10px 20px 25px;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
        border: black solid 1px;

        .user_review_gummy_name{
          overflow-wrap: break-word;
        }

        .user_review_image_div{
          width: 60%;
          margin: 0 auto;

          img{
            width: 100%;
            object-fit: contain;
          }
        }
      }

      .user_review_gummy_info:hover{
        background-color: rgb(231, 201, 26);
        transition: background-color 0.5s;
      }

      .user_review_comment_div{
        width: 100%;
        overflow-wrap: anywhere;
      }
    }
  }
}

@media screen and(max-width: 650px){
  .user_review{
    h3{
      width: 80%;
    }

    .user_review_content{
      .user_review_not_posted{
        width: 80%;
      }
    }
  }
}

@media screen and(max-width: 480px){
  .user_review{
    flex-direction: column;

    .user_review_box{
      width: 90%;
    }
  }
}

// ============map============
.user_map{
  h3{
    width: 600px;
    margin: 50px auto;
    padding: 10px;
    background-color: #f8f7efe7;
    color: black;
    border-radius: 10px;
    border: blueviolet solid 3px;
    text-align: center;
  }

  .user_map_not_posted{
    width: 600px;
    margin: 50px auto;
    padding: 10px;
    background-color: #f8f7efe7;
    color: black;
    border-radius: 10px;
    border: blueviolet solid 3px;
    text-align: center;
  }

  .user_map_box{
    width: 600px;
    margin: 50px auto;
    padding: 10px;
    background-color: #f8f7efe7;
    color: black;
    border-radius: 10px;
    border: blueviolet solid 3px;
    height: 100%;

    .user_map_gummy_link{
      text-decoration: none;
      color: black;

      .user_map_gummy_info{
        padding: 10px 20px 25px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
        border: black solid 1px;

        .user_map_gummy_name{
          overflow-wrap: break-word;
        }

        .user_map_image_div{
          width: 25%;
          margin: 0 auto;

          img{
            width: 100%;
            object-fit: contain;
          }
        }
      }

      .user_map_gummy_info:hover{
        background-color: rgb(231, 201, 26);
        transition: background-color 0.5s;
      }
    }

    .user_map_address_info{
      margin-bottom: 20px;

      .link_button{
        padding: 5px 10px;
      }
    }
  }
}

@media screen and(max-width: 650px){
  .user_map{
    .user_map_box{
      width: 80%;

      .user_map_address_info{
        li{
          margin-top: 30px;
        }
      }
    }
  }
}

@media screen and(max-width: 650px){
  .user_map{
    h3{
      width: 80%;
    }

    .user_map_not_posted{
      width: 80%;
    }
  }
}

@media screen and(max-width: 480px){
  .user_map{
    .user_map_box{
      .user_map_gummy_link{
        .user_map_gummy_info{
          .user_map_image_div{
            width: 50%;
          }
        }
      }
    }
  }
}
